a.logo {
    text-decoration: none;
}

.logo img {
    width: auto;
    height: 2em;
    vertical-align: middle;
    text-decoration: none;
}

a:visited {
    color: var(--visited-link-color);
}

table {
    border-collapse: collapse;
    margin: 1em 0;
}

table th,td,tr {
    border: 1px solid var(--text-color);
}

table th,td,tr {
    padding: 10px;
}


@media (prefers-color-scheme: light) {
    :root {
        --visited-link-color: #0b287d;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --visited-link-color: #7284c4;
    }
}
