@media (prefers-color-scheme: light) {
    :root {
        --visited-link-color: #0b287d;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --visited-link-color: #7284c4;
    }
}

a.logo {
    text-decoration: none;
}

.logo img {
    width: auto;
    height: 2em;
    vertical-align: middle;
    text-decoration: none;
}

a:visited {
    color: var(--visited-link-color);
}

table {
    border-collapse: collapse;
    margin: 1em 0;
}

table th,td,tr {
    border: 1px solid var(--text-color);
}

table th,td,tr {
    padding: 10px;
}

table[data-sort-table] th {
	cursor: pointer;
}

table[data-sort-table] th:after {
	content: ' ^';
	visibility: hidden;
}

table[data-sort-table] th[data-sort-reverse]:after {
	content: ' v';
}

table[data-sort-table] th[aria-sort=descending]:after {
	content: ' v';
}

table[data-sort-table] th[aria-sort=descending][data-sort-reverse]:after {
	content: ' ^';
}

table[data-sort-table] th[aria-sort=ascending]:after {
	content: ' ^';
}

table[data-sort-table] th[aria-sort=ascending][data-sort-reverse]:after {
	content: ' v';
}

table[data-sort-table] th[aria-sort]:after {
	visibility: visible;
	opacity: 0.4;
}

table[data-sort-table] th:focus:after,
table[data-sort-table] th:hover:after {
	visibility: visible;
	opacity: 1;
}
