{{- $dataObjName := "seriesRatings" -}}
{{- $data := index .Site.Data $dataObjName -}}
{{- if $data -}}
<table data-sort-table>
    <thead>
    <tr>
        <th data-sort-reverse>Rated on</th>
        <th>Title (year) [imdbUrl]</th>
        <th data-sort-default data-sort-reverse>Rating (on 10)</th>
    </tr>
    </thead>
    <tbody>
{{- range $row := sort $data "ratingOn10" "desc" -}}
    <tr>
        <td>{{ index $row "ratedDateOnly" }}</td>
        <td>
            <a href="{{ index $row "imdbUrl" }}">
                {{ index $row "title" }} ({{ index $row "releaseYear" }})
            </a>
        </td>
        <td>{{ index $row "ratingOn10" }}</td>
    </tr>
{{- else -}}
<p style="color: red">error: data not an array</p>
{{- end -}}
</tbody>
</table>
{{- else -}}
<p style="color: red">error: error getting data "{{ $dataObjName }}"</p>
{{- end -}}
